[submodule "vendor/sdl"]
	path = vendor/sdl
	url = https://github.com/libsdl-org/SDL
[submodule "vendor/sdl_mixer"]
	path = vendor/sdl_mixer
	url = https://github.com/libsdl-org/SDL_mixer
[submodule "vendor/sdl_image"]
	path = vendor/sdl_image
	url = https://github.com/libsdl-org/SDL_image
[submodule "vendor/sdl_ttf"]
	path = vendor/sdl_ttf
	url = https://github.com/libsdl-org/SDL_ttf
